{
  "bracketSameLine": true,
  "endOfLine": "auto",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none"
}
