// Breakpoints
$bp-xsmall: 37.5em; // 600px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(max-width: #{$bp-xsmall})";
$mq-small: "(max-width: #{$bp-small})";
$mq-medium: "(max-width: #{$bp-medium})";
$mq-large: "(max-width: #{$bp-large})";
$mq-xlarge: "(max-width: #{$bp-xlarge})";
$mq-xxlarge: "(max-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi)";



.btn {
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #282f42;
  border: 1px solid #595f71;
  border-radius: 30px;
  font-family: "Alatsi";
  font-weight: 400;
  font-size: 1rem;
  color: #595f71;
}
.btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
}
.btn:active {
  box-shadow: inset 3px -4px 16px rgba(0, 0, 0, 0.25);
  border-color: transparent;
}

.dashboardPage {
  position: relative;
  width: 100%;
  height: 480px;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 300;
  color: #cfd5dc;
  .top {
    width: 100%;
    height: 35%;
    position: relative;
    .bgImg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    background: radial-gradient(
      84.63% 247.63% at -67.49% 214.88%,
      #09d6e2 0%,
      #202439 100%
    );
    border-radius: 20px;
    .cards {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      z-index: 1;
      column-gap: 10px;
      padding: 10px;
      padding-left: 20px;

      .card {
        z-index: 1;
        background: rgba(207, 213, 220, 0.15);
        border-radius: 20px;
        // padding: 10px;
        width: 20%;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .wellcom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        color: #bdc3cc;
        //flex-grow: 1;
        > div {
          padding: 10px;
        }
        .title {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          align-items: stretch;
          div {
            text-align: left;
          }
          .mhmk span {
            color: white;
          }
          .mhmk {
            font-size: 15px;
          }
          .level {
            font-size: 12px;
          }
        }
        .account {
          display: flex;
          justify-content: space-between;
          background: rgba(62, 70, 91, 0.37);
          span {
            text-align: left;
            font-size: 13px;
          }
          :last-child {
            font-size: 14px;
          }
        }
      }

      .balance {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        .gameBalance {
          padding: 10px;
          > div {
            padding: 5px;
            padding-bottom: 0;
            color: #cfd5dc;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: fit-content;
            > :first-child {
              font-size: 25px;
              color: white;
              min-width: max-content;
            }
          }
        }
        .walletBalance {
          padding: 15px;
          padding-top: 5px;
          padding-bottom: 10px;
          row-gap: 2px;

          background: rgba(79, 90, 119, 0.49);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          color: white;
          font-size: 20px;
          :first-child {
            font-size: 12px;
            color: #cfd5dc;
          }
        }
      }

      .wallet {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        row-gap: 5px;
        > div {
          padding: 0px 20px;
          padding-top: 15px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: stretch;
          .addr {
            display: flex;
            align-items: center;
            justify-content: stretch;
            column-gap: 10px;

            > :first-child {
              cursor: pointer;
            }
            > :first-child:active {
              transform: scale(1.2);
            }

            > :last-child {
              display: flex;
              flex-direction: column;
              align-items: stretch;
              flex-grow: 1;
              row-gap: 10px;
              > div {
                display: flex;
                //align-items: flex-end;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                column-gap: 10px;
                :first-child {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  justify-content: flex-start;
                  font-size: 13px;
                  width: 30%;
                  padding: 0;
                }
                :last-child {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  justify-content: flex-start;
                  font-size: 11px;
                  width: 70%;
                  padding: 0;
                }
              }
            }
          }
          .amount {
            display: flex;
            justify-content: center;
            font-size: 13px;
            align-items: center;
            column-gap: 10px;
            input {
              width: 50%;
              height: 20px;
              background: #3e465b;
              border: 1px solid #282f42;
              border-radius: 5px;
              padding: 2px 5px;
              color: white;
              font-weight: 100;
            }
          }
        }
        > :last-child {
          display: flex;
          justify-content: stretch;
          padding: 0;
          padding-bottom: 10px;

          flex-direction: row;
          row-gap: 0px;
          align-items: center;
          justify-content: center;
          button {
            //max-width: 60%;
            padding: 4px 0px;
            border-radius: 20px;
            min-width: fit-content;
            max-width: 50%;
            font-size: 12px;
            color: white;
            font-weight: 100;
            flex-grow: 1;
          }
        }
      }

      .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        .logo {
          padding: 10px 10px;
          display: flex;
          align-items: center;
          color: white;
          img {
            width: 30%;
          }
          > span {
            span {
              display: flex;
              flex-direction: column;
            }
          }
        }
        .chart {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .marketCcap {
          padding: 10px 10px;
          font-size: 12px;
          font-weight: 50;
          color: white;
          background: rgba(62, 70, 91, 0.61);
          width: 100%;
        }
      }

      .referral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .content {
          display: flex;
          font-size: 15px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          justify-self: stretch;
          flex-grow: 1;
          row-gap: 2px;
          button {
            margin-top: 3px;
            padding: 3px 15px;
            color: #cfd5dc;
            font-size: 14px;
          }
        }
        .refCode {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 10px 10px;
          column-gap: 10px;
          background: rgba(62, 70, 91, 0.37);
          font-size: 13px;
          span {
            cursor: pointer;
            font-size: 15px;
          }
          span:hover {
            color: white;
          }
          span:active {
            color: #099098;
          }
        }
      }
    }
  }

  .nft {
    width: 100%;
    height: 57%;
    overflow: hidden;
    font-size: 12px;
    //background-color: #282f42;
    background: linear-gradient(
      90.05deg,
      rgba($color: #099098, $alpha: 0.4) 0%,
      10%,
      rgba($color: #282f42, $alpha: 1) 100%
    );
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    ::-webkit-scrollbar {
      width: 0.2rem;
      max-height: 50%;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background: linear-gradient(0deg, #898d92, #898d92),
        linear-gradient(0deg, #898d92, #898d92), #898d92;
      border-radius: 20px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(0deg, #cfd5dc, #cfd5dc),
        linear-gradient(0deg, #898d92, #898d92), #898d92;
      border-radius: 20px;
    }

    .leftBtns {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-grow: 1;
      width: 20%;
      row-gap: 20px;
      .btnHeader {
        background: linear-gradient(
          90.05deg,
          #099098 -44.6%,
          rgba(32, 36, 57, 0) 111.8%
        );
        width: 100%;
        height: 15%;
        background: rgba(62, 70, 91, 0.28);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btns {
        width: 100%;

        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 20px;
        align-items: center;
        height: 50%;
        row-gap: 5px;
        button {
          //max-width: 50%;
          flex-grow: 1;
          min-width: 60%;
          max-width: 90%;
          color: #cfd5dc;
        }
      }
    }

    .nftPocket {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      row-gap: 20px;
      flex-grow: 1;
      width: 35%;
      position: relative;

      .nftHeader {
        width: 100%;
        height: 15%;
        background: rgba(62, 70, 91, 0.28);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }

      .users {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        height: 70%;
        padding-top: 10px;
        position: relative;

        .scrollSection {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: flex-start;
          row-gap: 10px;
          direction: rtl;
          overflow-y: scroll;
          width: 100%;
          padding: 0 20px;
          padding-right: 0px;

          background-image: linear-gradient(
            transparent 90%,
            rgba(141, 138, 138, 0.72) 30%
          );
          background-position: right;
          background-size: 1px 10px;
          background-repeat: repeat-y;
          position: relative;
          > div {
            direction: ltr;
            background-color: #384055;
            border-radius: 15px;
            margin: 0px 5px;
            width: 28%;
            .name {
              position: absolute;
              background: #595f71;
              border-radius: 10px;
              padding: 2px 5px;
            }
            .img {
              width: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .userDesc {
              background-color: #384055;
              font-size: 10px;
              display: flex;
              padding-bottom: 5px;
              justify-content: space-around;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
          .selected {
            //margin: 0;
            padding: 5px;
          }
        }
      }
    }

    .stakingR {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      width: 25%;
      row-gap: 20px;
      .stakingHeader {
        width: 100%;
        height: 15%;
        background: rgba(62, 70, 91, 0.28);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
      > div {
        padding: 10px 20px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
      .claimBtn {
        color: white;
        font-size: 18px;
        display: flex;
        width: 100%;
        //justify-content: space-between;
        align-items: center;
        .btn {
          padding: 2px 15px;
          margin-left: 20px;
          font-size: 12px;
          color: white;
        }
      }
    }
    .activities {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      width: 20%;
      row-gap: 20px;
      .activitesHeader {
        width: 100%;
        height: 15%;
        background: rgba(62, 70, 91, 0.28);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        font-size: 14px;
        .btn {
          padding: 2px 10px;
          font-size: 12px;
          color: white;
        }
      }
      .activitySection {
        direction: rtl;
        padding: 10px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 10px;
        height: 70%;
        p {
          text-align: left;
        }
      }
    }
  }


}

///////////////////////////////RESPONSIVE///////////////////////////////////////////////
//   $bp-xsmall: 37.5em; // 600px
// $bp-small: 48em; // 768px
// $bp-medium: 64em; // 1024px
// $bp-large: 85.375em; // 1366px
// $bp-xlarge: 120em; // 1920px
// $bp-xxlarge: 160em; // 2560px

@media only screen and #{$mq-retina} {


}

@media only screen and #{$mq-xxlarge} {

}

@media only screen and #{$mq-xlarge} {

}
@media only screen and #{$mq-large} {

}

@media only screen and #{$mq-medium} {

}

@media only screen and #{$mq-small} {

  .dashboardPage {

    height: auto;
    .top {
      height: max-content;

      .cards {
        height: auto;
        flex-wrap: wrap;
        row-gap: 10px;
        .card {
          min-width: fit-content;
          flex-grow: 1;
          height:auto;
          min-height: max-content;
        }
      }
    }

    .nft {
      flex-wrap: wrap;
      height: auto;
      .leftBtns {
        // min-width: fit-content;
        width: 50%;
      }
      .nftPocket {
        width: 50%;
      }
      .stakingR {
        width: 50%;
        z-index: 1;
      }
      .activities {
        width: 50%;
        height: 50%;
      }
    }

  }
}

@media only screen and #{$mq-xsmall} {
  .dashboardPage {

    .top {



      .cards {
        height: auto;
        flex-wrap: wrap;
        row-gap: 10px;

        .card {
          min-width: fit-content;
          flex-grow: 1;
  
        }
      }
    }
    .nft {
      flex-wrap: wrap;
      height: auto;
      //align-items: stretch;

      .leftBtns {
        // min-width: fit-content;
        width: 100%;
      }
      .nftPocket {
        width: 100%;
        height: 20%;
        padding: 0;
        align-self: stretch;
        justify-self: center;
        .users {
          height: 70%;
          padding: 0;
          .scrollSection {
            padding: 0 20px;
            > div {
              .img {
                img {
                  // height: 20%;
                }
              }
            }
          }
        }
      }
      .stakingR {
        width: 100%;
        z-index: 1;
      }
      .activities {
        width: 100%;
        height: 30%;
      }
    }

  }
}
