.App {
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100vh;
  position: relative;
  padding-bottom: 3rem;
  padding-top: 6.2rem;
  font-family: 'Bahnschrift';
  background-color: #161c26;
  height: auto;
}
