.dashboardPage {
  width: 100%;
  height: 480px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Alatsi";
  font-style: normal;
  font-weight: 300;
  color: #cfd5dc;
  .top {
    width: 100%;
    height: 35%;
    position: relative;
    .bgImg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .cards {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      z-index: 1;
      column-gap: 10px;
      padding: 10px;
      padding-left: 20px;

      .card {
        z-index: 1;
        background: rgba(207, 213, 220, 0.15);
        border-radius: 20px;
        // padding: 10px;
        width: 20%;
        overflow: hidden;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .wellcom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        color: #bdc3cc;
        flex-grow: 1;
        > div {
          padding: 10px;
        }
        .title {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          align-items: stretch;
          div {
            text-align: left;
          }
          .mhmk span {
            color: white;
          }
          .mhmk {
            font-size: 15px;
          }
          .level {
            font-size: 10px;
          }
        }
        .account {
          display: flex;
          justify-content: space-between;
          background: rgba(62, 70, 91, 0.37);
          span {
            text-align: left;
            font-size: 13px;
          }
          :last-child {
            font-size: 14px;
          }
        }
      }

      .balance {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        .gameBalance {
          padding: 10px;
          > div {
            padding: 5px;
            padding-bottom: 0;
            color: #cfd5dc;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            :first-child {
              font-size: 25px;
              color: white;
            }
          }
        }
        .walletBalance {
          padding: 15px;
          padding-top: 5px;
          padding-bottom: 10px;
          row-gap: 2px;

          background: rgba(79, 90, 119, 0.49);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          color: white;
          font-size: 20px;
          :first-child {
            font-size: 12px;
            color: #cfd5dc;
          }
        }
      }

      .wallet {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        > div {
          padding: 0px 20px;
          padding-top: 15px;
          display: flex;
          flex-direction: column;
          //row-gap: 10px;
          align-items: stretch;
          .addr {
            display: flex;
            align-items: center;
            justify-content: stretch;
            column-gap: 10px;

            :first-child {
            }
            :last-child {
              display: flex;
              flex-direction: column;
              align-items: stretch;
              flex-grow: 1;
              row-gap: 10px;
              > div {
                display: flex;
                //align-items: flex-end;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                column-gap: 10px;
                :first-child {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  justify-content: flex-start;
                  font-size: 12px;
                  width: 30%;
                  padding: 0;
                }
                :last-child {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  justify-content: flex-start;
                  font-size: 10px;
                  width: 70%;
                  padding: 0;
                }
              }
            }
          }
          .amount {
            display: flex;
            justify-content: center;
            font-size: 12px;
            align-items: center;
            column-gap: 10px;
            input {
              width: 50%;
              height: 20px;
              background: #3e465b;
              border: 1px solid #282f42;
              border-radius: 5px;
            }
          }
        }
        :last-child {
          display: flex;
          justify-content: stretch;
          // align-items: center;
          padding: 0;
          padding-bottom: 10px;

          // padding: 15px 20px;
          // display: flex;
          flex-direction: row;
          row-gap: 0px;
          align-items: center;
          justify-content: center;
          button {
            //max-width: 60%;
            padding: 3px 15px;
            border-radius: 20px;
            min-width: fit-content;
            font-size: 12px;
            color: white;
            font-weight: 100;
            // flex-grow: 1;
          }
        }
      }

      .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        .logo {
          padding: 10px 10px;
          display: flex;
          align-items: center;
          color: white;
          img {
          }
          > span {
            span {
              display: flex;
              flex-direction: column;
            }
          }
        }
        .chart {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .marketCcap {
          padding: 10px 10px;
          font-size: 13px;
          color: white;
          background: rgba(62, 70, 91, 0.61);
          width: 100%;
        }
      }


      .referral{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .content{
   display: flex;
   font-size: 15px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   justify-self: stretch;
   flex-grow: 1;
   row-gap: 2px;
   button{
    margin-top: 3px;
    padding: 3px 15px;
    color: #CFD5DC;
   }
        }
        .refCode{
          width: 100%;
   display: flex;
   justify-content: center;
   padding: 10px 10px;
   column-gap: 5px;
          background: rgba(62, 70, 91, 0.37);
          font-size: 13px;
          
        }

      }


    ::-webkit-scrollbar {
      width: 0.2rem;
      max-height: 50%;
    }

    }
  }

  .nft {
    width: 100%;
    height: 50%;
   background-color: #282F42;
    background: linear-gradient(90.05deg, #099098 10%, rgba($color: #282F42, $alpha: 1) 20% , #282F42 100%);
  

  }
//background-color: rgba($color: #000000, $alpha: 1.0);
  .dashboardFooter {
    width: 100%;
    height: 20%;
    background: linear-gradient(
      180deg,
      rgba(62, 70, 91, 0) 0%,
      #099098 240.22%
    );
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 14px;

    .footerLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      div {
        //padding-top: 5px;
        ul {
          padding-top: 5px;
          display: flex;
          column-gap: 5px;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #161c26;
            padding: 5px 6px;
            border-radius: 7px;
            color: #9298a5;
          }
        }
      }
    }
    .footerCenter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:stretch;
      row-gap: 3px;
      height: 100%;

      .icons {
        height: 35%;
        display: flex;
        justify-content: space-evenly;
        
        >span {
          //height: 100%;
          //width: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      :last-child{
       // padding-top: 5px;
       justify-self: flex-end;
      }
    }
    .footerRight {
    }
  }
      .header-menu {
        white-space: nowrap;

        opacity: 0;
        padding: 8px;
        border-radius: 12px;
        -webkit-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0);
        -webkit-box-shadow: 0 6px 6px rgb(0 0 0 / 5%),
          0 12px 12px rgb(0 0 0 / 5%), 0 24px 24px rgb(0 0 0 / 5%);
        box-shadow: 0 6px 6px #0000000d, 0 12px 12px #0000000d,
          0 24px 24px #0000000d;
        -webkit-transition: opacity 0.8s var(--ease-quart),
          -webkit-transform 0.6s var(--ease-quart);
        transition: opacity 0.8s var(--ease-quart),
          -webkit-transform 0.6s var(--ease-quart);
        -o-transition: opacity 0.8s var(--ease-quart),
          transform 0.6s var(--ease-quart);
        transition: opacity 0.8s var(--ease-quart),
          transform 0.6s var(--ease-quart);
        transition: opacity 0.8s var(--ease-quart),
          transform 0.6s var(--ease-quart),
          -webkit-transform 0.6s var(--ease-quart);
        position: fixed;

        bottom: 15%;
        left: -100%;
        background-color: $header-background-color;

        .menu {
          padding: 0;
          flex-direction: column;
          align-items: stretch;
          li {
            padding: 0;
            .item {
              padding: 20px 10px;
              width: 100%;
              flex-direction: row;
              justify-content: stretch;
              column-gap: 10px;
              font-size: 1.2rem;
              border-radius: 10px;
              img {
                padding: 0;
              }
            }
          }
        }
      }

      .show {
        opacity: 1;
        z-index: 2;
        pointer-events: auto;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translateZ(0);
        left: 5%;
      }
    }
  }

  //////////////////////////////////////////InsigniaNFT Page////////////////////
  .insigniaNFT-page {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: auto;
    .Huralya-Squirrel {
      width: 100%;
      height: 100%;
      min-height: 80vh;
      .background-img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        z-index: 0;
      }
    }

    .min {
      width: 100%;
      max-height: 70vh;
      overflow-x: unset;
      position: relative;
      text-align: center;
      margin: 0 auto;
      .background-img {
        width: 100%;
        position: static;
        object-fit: fill;
        z-index: 0;
      }
      .content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 15px 0px;

        .cat-img {
          flex-grow: 0;
        }
        .bottoms {
          padding: 0 20%;
        }
        .text {
          font-size: 1rem;
        }
      }
    }

    .circulate-supply {
      height: 100%;
      width: 100%;
      overflow-x: unset;
      position: relative;
      .background-img {
        width: 100%;
        position: static;
        height: 100%;
        object-fit: fill;
        z-index: 0;
      }

      .content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 15% 10% 15% 18%;

        line-height: 2rem;
        font-size: 1.2rem;
      }
    }
  }
  ////////////////////////////////////////////GENESIS Page/////////////////
  .genesis-page {
    .content {
      height: 90%;

      .center {
        position: absolute;
        top: 0;
        row-gap: 6rem;
        left: 15%;
      }
      .right {
        position: absolute;
        right: 5%;
        bottom: 0;
        div {
          position: absolute;
          bottom: 70%;
          left: 15%;
        }
      }
    }
  }

  //////////////////////////////about-us-page///////////
  .about-us {
    height: max-content;
    min-height: fit-content;

    .about-desc {
      height: auto;
      width: 100%;
      margin: 0;
      .desc-icons {
        width: 100%;
        .item {
        }
      }
    }
    .bottom-section {
      padding-top: 1rem;
      position: relative;
      height: auto;
      min-height: fit-content;
      .bottom-top {
        flex-direction: column;
        row-gap: 1rem;
        height: auto;
        .content {
          row-gap: 10px;
        }
        .backers {
          width: 100%;

          .top {
            flex-direction: column;
            row-gap: 10px;
          }
          .buttons {
            flex-direction: column;
            align-items: stretch;
            row-gap: 10px;
          }
        }
        .team {
          width: 90%;
          row-gap: 20px;
        }
      }

      .socials {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        row-gap: 10px;
        .btns {
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 5px;
          .btn {
            max-width: 35%;
          }
        }
      }
    }
  }

  /////////////////////////////////////////////mint Page//////////////
  .mint {
    .Huralya-Squirrel {
      width: 70%;
      .content {
        padding: 10px 5px;
        .scrollable-section {
          padding: 10px;
          .scroll {
            padding-right: 0;
          }
        }
      }
    }

    .buy-sell {
      width: 30%;
    }
  }
}

@media only screen and #{$mq-xsmall} {
  .App {
    padding-bottom: 9rem;
  }
  .header {
    .header-content {
      margin: 0 5%;
    }
  }
  .Container {
    margin: 0 5%;
  }
  .footer {
    .footer-content {
      margin: 0 5%;
    }
  }

  .dashboardPage {
    height: auto;
    .top {
      flex-wrap: wrap;
      row-gap: 10px;
      .contract-address {
        .contract {
          .ether-hover {
            left: -8%;
          }
          .ether-hover::after {
            display: block;
            left: 20%;
          }
          .ether-hover::before {
            display: none;
          }
        }
      }

      .btn {
        font-family: "Alatsi";
      }

      .smartchain {
        .btn {
          font-family: "Bahnschrift";
        }
      }
      .logo {
        padding: 0;
      }
      .exchanges {
        .exchange {
          .pancakeswap {
            max-width: 32%;
          }
          flex-wrap: wrap;
          row-gap: 10px;
        }
      }
    }
    .content {
      flex-wrap: wrap;
      row-gap: 3rem;
      padding-top: 1rem;
    }
  }

  .header {
    .header-content {
      //z-index: 3;

      .mobile-menu-btn {
        display: block;
      }

      .header-menu {
        white-space: nowrap;
        padding: 8px;
        border-radius: 12px;
        -webkit-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0);
        -webkit-box-shadow: 0 6px 6px rgb(0 0 0 / 5%),
          0 12px 12px rgb(0 0 0 / 5%), 0 24px 24px rgb(0 0 0 / 5%);
        box-shadow: 0 6px 6px #0000000d, 0 12px 12px #0000000d,
          0 24px 24px #0000000d;
        -webkit-transition: opacity 0.8s var(--ease-quart),
          -webkit-transform 0.6s var(--ease-quart);
        transition: opacity 0.8s var(--ease-quart),
          -webkit-transform 0.6s var(--ease-quart);
        -o-transition: opacity 0.8s var(--ease-quart),
          transform 0.6s var(--ease-quart);
        transition: opacity 0.8s var(--ease-quart),
          transform 0.6s var(--ease-quart);
        transition: opacity 0.8s var(--ease-quart),
          transform 0.6s var(--ease-quart),
          -webkit-transform 0.6s var(--ease-quart);
        position: fixed;

        bottom: 15%;
        left: -100%;
        background-color: $header-background-color;

        .menu {
          padding: 0;
          flex-direction: column;
          align-items: stretch;
          li {
            padding: 0;
            .item {
              padding: 20px 10px;
              width: 100%;
              flex-direction: row;
              justify-content: stretch;
              column-gap: 10px;
              font-size: 1.2rem;
              border-radius: 10px;
              img {
                padding: 0;
              }
            }
          }
        }
      }

@media only screen and #{$mq-xlarge} {
  .header {
    .header-content {
      margin: 0 18%;
    }
  }
  }
  .footer {
    .footer-content {
      flex-direction: column;
      padding-top: 0.5rem;
      .social-icons ul {
        column-gap: 20px;
      }
      .join {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;

    .dashboardFooter {
      height: auto;
      flex-wrap: wrap;
          }
        }
      }
    }

    .min {
      .content {
        display: flex;
        .text {
          padding-left: 2rem;
        }
      }
    }
    .circulate-supply {
      .content {
        font-size: 1rem;
      }
    }
  }
  /////////////////////////////////////////////GENESIS page////////////////
  .genesis-page {
    .content {
      height: 90%;
      .left {
        .icons {
          .text {
            left: 20%;
            bottom: -2%;
          }
        }
      }
      .center {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        top: 0;
        left: 10%;
        row-gap: 0;
        .title {
          .text {
            display: flex;
            flex-wrap: wrap;
            row-gap: 1rem;
            .text-right {
              img {
                width: 50%;
                left: 30%;
                bottom: 70%;
              }
            }
          }
        }

        .explore-btn {
          padding-bottom: 7rem;
        }
        .sector-btn {
          padding-right: 3rem;
        }
      }
      .right {
        position: absolute;
        right: 5%;
        bottom: 0;
      }
    }
  }




}
