// Breakpoints
$bp-xsmall: 37.5em; // 600px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: '(max-width: #{$bp-xsmall})';
$mq-small: '(max-width: #{$bp-small})';
$mq-medium: '(max-width: #{$bp-medium})';
$mq-large: '(max-width: #{$bp-large})';
$mq-xlarge: '(max-width: #{$bp-xlarge})';
$mq-xxlarge: '(max-width: #{$bp-xxlarge})';
$mq-retina: '(-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi)';

.mint {
  //position: relative;
  height: 480px;
  width: 100%;
  display: flex;
  column-gap: 10px;
  font-family: 'Alatsi';
  font-weight: 400;
  min-width: 100%;
  .HuralyaSquirrel {
    flex-grow: 1;
    width: 78%;
    height: 100%;
    position: relative;

    background: linear-gradient(
      183.5deg,
      rgba(17, 20, 29, 0) 20%,
      #1d3d4b 100%
    );
    border-radius: 20px;

    .content {
      width: 100%;
      z-index: 1;
      padding: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;
      //z-index: 2;
      text-align: left;

      /* width */

      ::-webkit-scrollbar {
        width: 0.2rem;
        max-height: 50%;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: linear-gradient(0deg, #898d92, #898d92),
          linear-gradient(0deg, #898d92, #898d92), #898d92;
        border-radius: 20px;
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(0deg, #cfd5dc, #cfd5dc),
          linear-gradient(0deg, #898d92, #898d92), #898d92;
        border-radius: 20px;
      }
      /* Handle on hover */

      > .title {
        color: #e29b1d;
        padding: 0.6rem;
        z-index: 1;
      }
      .desc1 {
        color: #cfd5dc;
        padding: 0.6rem;
        z-index: 1;
      }
      .desc2 {
        color: #cfd5dc;
        font-size: 0.8rem;
        padding: 0.6rem;
        z-index: 1;
      }
      .scrollableSection {
        padding: 20px;
        height: 70%;
        background-color: rgba(62, 70, 91, 0.54);
        border-radius: 20px;
        z-index: 1;

        .scroll {
          height: 100%;
          overflow-y: auto;
          padding-right: 5px;
          .section {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            border-bottom: 1px solid #282f42;
            padding: 0.6rem 0;
            .text {
              display: flex;
              align-items: center;
              flex-grow: 1;
              row-gap: 0.3rem;
              .title {
                color: #dddedf;
                min-width: fit-content;
                font-family: 'Alatsi';
                display: flex;
                align-items: center;
              }
              .desc {
                display: flex;
                align-items: center;
                color: #898d92;
                font-size: 12px;
                flex-grow: 1;
                font-family: 'Alatsi';
                padding: 0rem 0.5rem;
              }
            }

            .icon {
              flex-shrink: 0;
              color: white;
              width: 25px;
              height: 25px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .icon:hover {
              color: #dccfdb;
            }
            .icon:active {
              transform: scale(1.2);
            }
          }
          .planSection {
            .text {
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }

  .buySell {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'Alatsi';
    background: linear-gradient(0deg, #295669 -50%, rgba(7, 9, 12, 0) 50%);
    border-radius: 20px;
    color: #9fa3a7;

    .catImg {
      width: 100%;
      height: 45%;
      object-fit: fill;
    }

    .desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1.5rem;

      .total {
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        font-family: 'Alatsi';
      }
      .last {
        font-size: 10px;
        padding-left: 10px;
        font-family: 'Alatsi';
      }
    }
    .bar {
      width: 100%;
      padding: 0 1rem;
      img {
        width: 100%;
        object-fit: fill;
      }
    }
    .date {
      font-size: 12px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      p {
        display: flex;
        font-family: 'Alatsi';
        column-gap: 3px;
        justify-content: center;
        .icon {
          color: #11ee9f;
          flex-shrink: 0;
        }
      }
    }
    .buySellLya {
      color: #eaeaea;
      font-size: 14px;
      padding: 1rem 0;
      font-family: 'Alatsi';
    }
  }
}

@media only screen and #{$mq-medium} {
}
@media only screen and #{$mq-small} {
  .mint {
    .HuralyaSquirrel {
      width: 70%;
      .content {
        padding: 10px 5px;
        .scrollableSection {
          padding: 10px;
          .scroll {
            padding-right: 0;
          }
        }
      }
    }

    .buySell {
      width: 30%;
    }
  }
}
@media only screen and #{$mq-xsmall} {
  .mint {
    height: auto;
    flex-direction: column;
    row-gap: 20px;
    .HuralyaSquirrel {
      width: 100%;
      height: 80vh;
      .content {
        padding: 10px 5px;
        .scrollableSection {
          padding: 10px;
          .scroll {
            padding-right: 10px;
            .section {
              justify-content: space-between;
              .text {
                flex-wrap: wrap;
              }
              .icon {
                align-self: flex-start;
              }
            }
          }
        }
      }
    }

    .buySell {
      width: 100%;
      .bar {
        text-align: center;

        img {
          max-width: 250px;
        }
      }
    }
  }
}
