.item::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border-bottom: 0.2rem solid transparent;
    width: 100%;
    left: 100%;
    bottom: 0;
    transition: all 0.3s ease-out;
  }
  .item1::after {
    border-image: linear-gradient(
      90deg,
      rgb(27, 90, 7),
      rgb(177, 247, 170)
    );
    border-image-slice: 1;
  }
  .item2::after {
    border-image: linear-gradient(
      90deg,
      rgb(119, 58, 8),
      rgb(243, 210, 161)
    );
    border-image-slice: 1;
  }
  .item3::after {
    border-image: linear-gradient(
      90deg,
      rgb(10, 48, 97),
      rgb(192, 232, 255)
    );
    border-image-slice: 1;
  }
  .item4::after {
    border-image: linear-gradient(
      254.24deg,
      #bc68fe 14.93%,
      #6f31d6 87.95%
    );
    border-image-slice: 1;
  }


.active {
    background-image: linear-gradient(
      0.74deg,
      #0c0e16 0.5%,
      rgba(159, 176, 219, 0.05) 100%
    );
  }
  .active::after {
    left: 0;
  }