.about-us {
  width: 100%;
  position: relative;
  height: 480px;
  .about-desc {
    background: #282f42;
    border-radius: 27px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    row-gap: 1rem;
    .title {
      font-weight: 400;
      font-size: 1.4rem;
      color: #ebebeb;
      font-family: "Alatsi";
    }
    .desc {
      font-weight: 350;
      font-size: 1rem;
      color: #898d92;
      text-align: left;
      font-family: "Alatsi";
    }

    .desc-icons {
      display: flex;
      align-items: center;
      position: relative;
      width: 70%;
      margin-right: 10%;
      //margin-top: 5%;

      align-self: center;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          //padding-bottom: 5px;
        }

        .desc {
          padding-top: 20px;
          font-weight: 350;
          font-size: 0.8rem;
          color: #9298a5;
          font-family: 'Bahnschrift';
        }
      }
      .item2 {
        position: relative;
        .desc {
          color: #ffb111;
        }
      }
      .item2::after {
        content: "";
        position: absolute;
        background-color: #ffb111;
        padding: 1px 40%;
        top: calc(40% - 2px);
        left: 10%;
        z-index: 1;
      }

      .item2::before {
        content: "";
        position: absolute;
        background-color: #ffb111;
        border-radius: 50%;
        padding: 3px;
        top: calc(40% - 4px);
        left: calc(50% - 3px);
        z-index: 1;
      }
    }

    .desc-icons::after {
      content: "";
      position: absolute;
      border-bottom: 1.5px solid white;
      width: 100%;
      top: calc(40% - 1.5px);
      z-index: 0;
    }
  }

  .bottom-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 2%;
    height: 40%;
    font-family: 'Bahnschrift';
    .small-btns {
      .s-btn {
        position: relative;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #fbc350;
        background-color: transparent;
        margin: 2px;
      }
      .left::after {
        content: "";
        border: 5px solid transparent;
        border-right-color: #fbc350;
        position: absolute;
        right: calc(50% - 1.5px);
        top: calc(50% - 5px);
      }

      .right::after {
        content: "";
        border: 5px solid transparent;
        border-left-color: #fbc350;
        position: absolute;
        left: calc(50% - 1.5px);
        top: calc(50% - 5px);
      }
    }

    .bottom-top {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-between;
      //flex-wrap: wrap;
      .backers {
        width: 70%;
        height: 100%;
        flex-grow: 1;
        position: relative;
        .backers-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          // object-fit: fill;
          z-index: 0;
        }
        .content {
          height: 100%;
          width: 100%;
          z-index: 1;
          padding: 1rem;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-around;
          position: relative;

          .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              color: white;
              font-family: 'Bahnschrift';
            }
            .help {
              display: flex;
              align-items: center;
              column-gap: 10px;
              color: #7c8290;
              font-family: 'Bahnschrift';
              .q-icon{
                color: #5FAA73;
              }
            }
          }
          .buttons {
            display: flex;
            justify-content: space-between;
           
            .btns {
              flex-grow: 1;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              row-gap: 10px;
              font-family: 'Bahnschrift';
              .btn {
                flex-grow: 1;
                max-width: 19%;
                min-width: fit-content;

                //padding: 0 .5rem;
              }
              .small-btns {
                flex-grow: 1;
              }
            }

          }
        }
      }
      .team {
        height: 100%;
        margin-left: 0.5rem;
        flex-grow: 1;
        padding: 1rem 0rem .3rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-family: 'Bahnschrift';
        .teamBg {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          // object-fit: fill;
          z-index: 0;
        }
        .title {
          align-self: flex-start;
          padding-left: 2rem;
          color: white;
          z-index: 1;
          padding-bottom: 10px;
          font-family: 'Bahnschrift';
        }

        .profile-img {
          display: flex;
          justify-content: space-between;
          z-index: 1;
          img {
            width: 30%;
          }
        }
      }
    }

    .socials {
      display: flex;
      justify-content: space-between;
      width: 70%;
      padding: 1rem;
      .btns {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        .btn {
          flex-grow: 1;
          max-width: 24%;
          min-width: fit-content;
        }
      }
      .small-btns {
        flex-grow: 1;
      }
    }
  }
}
