// Breakpoints
$bp-xsmall: 37.5em; // 600px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(max-width: #{$bp-xsmall})";
$mq-small: "(max-width: #{$bp-small})";
$mq-medium: "(max-width: #{$bp-medium})";
$mq-large: "(max-width: #{$bp-large})";
$mq-xlarge: "(max-width: #{$bp-xlarge})";
$mq-xxlarge: "(max-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi)";

$header-background-color: #282f42;
$header-menu-text-color: #9298a5;

.card {
  padding: 15px;
  border-radius: 20px;
  //box-shadow: 0 0 10px 5px rgba($color: #071429, $alpha: 0.05);
}

///////////////////////////////////////////  Header   ////////////////////
.header {
  display: flex;

  width: 95%;
  position: sticky;
  top: 1rem;
  background-color: $header-background-color;
  border-radius: 59px;

  align-items: stretch;
  justify-content: space-around;
  // height: 50px;
  padding: 0px 10px 0px 10px;
  //overflow: hidden;
}
.header-logo {
  //padding: 15px;
  overflow: hidden;
  .logo-img {
    height: 100%;
    width: 100%;
  }
}

.header-menu {
  flex-grow: 1;
  max-width: 60%;
  .menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    li {
      flex-grow: 1;
      height: 100%;
      padding: 0px 5px 0px 5px;
    }

    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-grow: 1;
      height: 100%;
      text-decoration: none;
      color: $header-menu-text-color; //#9298A5;
      font-weight: 300;
      font-size: 22px;

      //padding: 0 20px 0 20px;
      overflow: hidden;
      min-width: fit-content;
      text-align: center;
      img {
        padding-right: 0.5rem;
      }
    }
    .item:hover {
      color: white;
    }
    .item::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: 2px solid transparent;

      width: 100%;
      left: 100%;
      bottom: 0;
      transition: all 0.3s ease-out;
    }
    .item1::after {
      border-image: linear-gradient(90deg, rgb(27, 90, 7), rgb(177, 247, 170));
      border-image-slice: 1;
    }
    .item2::after {
      border-image: linear-gradient(90deg, rgb(119, 58, 8), rgb(243, 210, 161));
      border-image-slice: 1;
    }
    .item3::after {
      border-image: linear-gradient(90deg, rgb(10, 48, 97), rgb(192, 232, 255));
      border-image-slice: 1;
    }
    .item4::after {
      border-image: linear-gradient(90deg, rgb(75, 7, 66), rgb(252, 172, 255));
      border-image-slice: 1;
    }

    .active {
      background-image: linear-gradient(
        -180deg,
        rgb(60, 53, 150),
        rgb(34, 40, 48)
      );
    }
    .active::after {
      left: 0;
    }
  }
}

.header-login {
  padding: 15px;
  //width: 20%;
  flex-grow: 1;
  max-width: 20%;
  display: flex;
  justify-content: center;
  .login-btn {
    flex-grow: 1;
    color: #9298a5;
    font-family: "Bahnschrift";
    font-weight: 300;
    font-size: 20px;
    max-width: 100px;
    padding: 8px;
    background-color: #282f42;
    border: 1px solid #9298a5;
    border-radius: 164px;
    box-shadow: inset 3px -4px 16px rgba(0, 0, 0, 0.25);
  }
}

.menu {
}
.item {
}

.login-btn {
}
//////
////////////////////////////////////////////     Footer    //////////////////////
///
.footer {
  width: 100%;
  position: sticky;
  //width: 95%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #304355;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 20px 0 20px;

  font-weight: 400;
  font-size: 16px;
  color: #9298a5;
}

.footer-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.footer-links ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  //max-width: 70%;
  .link {
    padding: 5px;
    cursor: pointer;
  }
  .link:hover {
    color: white;
  }
}
.link {
}

.social-icons {
  flex-grow: 1;
}

.social-icons ul {
  display: flex;
  justify-content: center;
  .icon {
    padding: 7px;
    cursor: pointer;
  }
  .icon:hover {
    color: white;
  }
}
.icon {
}
.join {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  //max-width: 15%;
  .btn {
    font-size: 0.7rem;
    flex-grow: 1;
    max-width: 7vw;
    cursor: pointer;
    background: #161c26;
    border: 1px solid #9298a5;
    box-shadow: inset 3px -4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 164px;
  }
}

/////////////////////////////////////////////////   LYA Page  ///////////////////@at-root
///
///
.Container {
  width: 95%;
  flex-grow: 1;
}

.lyatoken-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  padding: 20px 0 20px 0;
  .top {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 10px;

    .exchanges {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      background: linear-gradient(
        90.01deg,
        #099098 -51.74%,
        rgba(32, 36, 57, 0) 111.83%
      );

      .title {
        padding: 0px 0 20px 0;
        color: white;

        font-weight: 600;
        font-size: 24px;
      }

      .exchange {
        display: flex;
        justify-content: space-between;
        width: 100%;
        column-gap: 10px;
        .btn {
          width: 25%;
          min-width: fit-content;
          flex-grow: 1;
        }
      }
    }

    .contract-address {
      flex-grow: 1;
      background: linear-gradient(
        270.28deg,
        #099098 -52.43%,
        rgba(32, 36, 57, 0) 111.01%
      );
      border-radius: 20px;
      .title {
        padding: 0px 0 20px 0;
        font-weight: 600;
        font-size: 24px;
        color: #ffffff;
      }
      .contract {
        display: flex;
        column-gap: 10px;

        width: 100%;
        column-gap: 10px;
        .btn {
          flex-grow: 1;
          max-width: 30%;
          min-width: fit-content;
        }
      }
    }

    .logo {
      padding: 0.5rem;
      display: flex;
      max-width: 15vw;
      max-height: 100%;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      background: linear-gradient(
        89.31deg,
        #09d6e2 -112.47%,
        rgba(40, 47, 66, 0) 111.21%
      );
      border-radius: 20px;

      img {
        flex-grow: 1;
        flex-shrink: 0;
        max-height: fit-content;
        max-width: fit-content;
        width: 100%;
        height: 100%;
      }
    }
  }

  .content {
    width: 100%;
    //max-height: max-content;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: aliceblue;
    background-color: #253046;
    padding: 3rem 2rem;
    column-gap: 2rem;
    .LyaTokenDescription {
      min-width: 30%;
      //flex-grow: 1;
      //flex-shrink: 0;
      text-align: left;

      .icon {
        //width: min-content;
      }

      .title {
        //width: min-content;
        padding: 1rem 0;
        font-weight: 600;
        font-size: 25px;
        color: #ebebeb;
      }
      .text {
        font-weight: 300;
        //font-size: 20px;

        color: #898d92;

        width: 100%;
      }
    }
  }
}

.btn {
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
  background: #181c27;
  border: 2px solid #595f71;
  border-radius: 63px;
  font-family: "Alatsi";
  font-weight: 400;
  font-size: 20px;
  color: #595f71;
}

.btn:hover {
  border-color: white;
}

.exchange {
}

.contract {
}

///////////////////////////////RESPONSIVE///////////////////////////////////////////////
///
.App {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: rgb(19, 27, 34);
  color: rgba(195, 201, 206, 0.979);
  margin: 0 30%;
  min-height: 100vh;
  flex: 1 0 auto;
  font-family: "Bahnschrift";
}

//   $bp-xsmall: 37.5em; // 600px
// $bp-small: 48em; // 768px
// $bp-medium: 64em; // 1024px
// $bp-large: 85.375em; // 1366px
// $bp-xlarge: 120em; // 1920px
// $bp-xxlarge: 160em; // 2560px

@media only screen and #{$mq-retina} {
  .App {
    margin: 0 30%;
  }
}

@media only screen and #{$mq-xxlarge} {
  .App {
    margin: 0 25%;
  }
}

@media only screen and #{$mq-xlarge} {
  .App {
    margin: 0 18%;
  }
}
@media only screen and #{$mq-large} {
  .App {
    margin: 0 6%; //0 12%;
  }
}

@media only screen and #{$mq-medium} {
  .App {
    margin: 0 4%;
  }
}

@media only screen and #{$mq-small} {
  .App {
    margin: 0 2%;
  }
  .lyatoken-page .top .logo {
    display: none;
  }

  .footer {
    //flex-direction: column;
  }
  .footer .join {
    .btn {
      max-width: 10vw;
    }
  }

  .header .header-menu {
    font-size: 0.9rem;
    .menu {
      .item {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        img {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and #{$mq-xsmall} {
  .App {
    margin: 0 1%;
  }

  .Container {
    padding-bottom: 10px;
  }
  .lyatoken-page {
    flex-wrap: wrap;
    .content {
      flex-wrap: wrap;
      row-gap: 3rem;
    }
  }
  .lyatoken-page .top {
    flex-wrap: wrap;
    //flex-direction: column;
    row-gap: 10px;
  }

  .header .header-menu {
    font-size: 0.7rem;
    .menu {
      .item {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        img {
          padding: 0;
        }
      }
    }
  }

  .footer {
    flex-direction: column;

    .join {
      width: 100%;
      .btn {
        max-width: 100vw;
      }
    }
  }
}
