@import-normalize;

@import url('http://fonts.cdnfonts.com/css/bahnschrift');

@font-face {
  font-family: 'Alatsi';
  src: url('../public/Alatsi-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

#root {
  margin: 0;
  text-align: center;

/* overflow-y: auto; */
/* overflow-x: hidden; */
  box-sizing: border-box;
  background-color: #161c26;
  position: relative;


}



body {
  box-sizing: border-box;

/* width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden; */
min-height: 100vh;
  margin: 0;
  
  text-align: center;
  background-color: #161c26;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Bahnschrift", "Alatsi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
