@import-normalize;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

#root {
  text-align: center;
  margin: 0 auto;

  box-sizing: border-box;
  background-color: #161C26;
}

body {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
  margin: 0 auto;
  background-color: #161C26;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",'Bahnschrift',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
